* {
    font-family: Arial, Helvetica, sans-serif;
}

.card {
    background-color: white;
    width: 500px;
    margin: auto;
    padding: 5px;
    border-color: rgb(139, 53, 53);
    border: 5px;
}

h1 {
    color: black;
    background-color: palegoldenrod;
    text-align: center;
    padding: 10px;
}

.links {
    font-size: 24px;
    background-color: palevioletred;
    margin: 10px auto;
    padding: 40px;
}